{% extends 'base.html' %}
{% block title_name %}
    <title>О нас</title>
{% endblock %}

{% block center_content %}

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="page-header">
                <div class="row">
                    <h1>
                        <small>О нас</small>
                    </h1>
                </div>
            </div>
            <div class="row">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title"><h3>Компания</h3></div>
                    </div>
                    <div class="panel-body">
                        <p>
                        <h2>
                            <small>ООО «Электрохандэль»</small>
                        </h2>
                        </p>
                        <p><label>Адресс: </label> Россия, 198302, г. Санкт-Петербург, ул. Морской Пехоты, д.10 </p>
                        <p><label>Телефон: </label> 981-90-77</p>
                        <p><label>E-mail: </label> info@eh.ru</p>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title"><h3>Наша сфера</h3></div>
                    </div>
                    <div class="panel-body">
                        <p>Наша компания осуществляет
                            <b>комплексное снабжение предприятий электрооборудованием</b>
                            от ведущих производителей: </p>
                        <p>
                        <ul>
                            <li>Schneider Electric</li>
                            <li>Siemens</li>
                            <li>ABB</li>
                            <li>Legrand</li>
                            <li>PHILIPS</li>
                            <li>navigator</li>
                            <li>DKC</li>
                            <li>IEK</li>
                            <li>TDM ELECTRIC</li>
                            <li>Ардатовский СТЗ</li>
                            <li>Световые Технологии</li>
                        </ul>
                        </p>

                        <p>
                            <label>Лампы:</label>
                        <ul>
                            <li>накаливания</li>
                            <li>люминесцентные</li>
                            <li>энергосберегающие</li>
                            <li>различного назначения</li>
                            <li>декоративные</li>
                            <li>галогенные + весь спектр ламповой продукции фирм OSRAM, PHILIPS,GE</li>
                        </ul>
                        </p><p>
                        <label>Светильники:</label>
                        <ul>
                            <li>уличные</li>
                            <li>промышленные (различных степеней защиты)</li>
                        </ul>
                        </p><p>
                        <label>Автоматические выключатели, (в т. ч. Legrand, АВВ, Siemens, Moeller)</label>
                    </p>
                        <p>
                            <label>Schneider Electric:</label>
                        <ul>
                            <li>дроссели</li>
                            <li>пускатели</li>
                            <li>реле</li>
                            <li>индикаторы</li>
                        </ul>
                        </p><p>
                        <label>Электроустановочные изделия:</label>
                        <ul>
                            <li>розетки</li>
                            <li>выключатели отечественного производства и фирм ELSO, LEXEL,LEGRAND</li>
                        </ul>
                        </p>
                        <p>
                            <label>Датчики:</label>
                        <ul>
                            <li>IFM electronic</li>
                            <li>HBM</li>
                            <li>ENDRESS+HAUSER</li>
                            <li>TURCK</li>
                        </ul>
                        </p> <p>
                        <label>Масляные радиаторы:</label>
                        <ul>
                            <li>EWT Германия</li>
                        </ul>
                        </p><p>
                        <label>Кабель:</label>
                        <ul>
                            <li>NYM</li>
                            <li>АВВГ</li>
                            <li>ВВГ</li>
                            <li>КГ</li>
                            <li>АСБ</li>
                            <li>провод отечественных и импортных производителей (LAPP KABEL, HELUKABEL, REKA)</li>
                        </ul>
                        </p><p>
                        <label>Модульные светильники:</label>
                        <ul>
                            <li>накладные и встраиваемые</li>
                            <li>отечественные и фирм NORTCLIFFE, TECHNOLUX</li>
                            <li>ВВГ</li>
                            <li>КГ</li>
                            <li>АСБ</li>
                            <li>провод отечественных и импортных производителей (LAPP KABEL, HELUKABEL, REKA)</li>
                        </ul>
                        </p>

                        <p>
                            <label>Кабель-канал, гофрированная труба, установочные и распределительные коробки JSL,
                                RUVINIL, DKC, LEGRAND</label>
                        </p>
                        <p>
                            <label>Электродвигатели</label>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}